@font-face {
    font-family: Norse-Bold;
    src: url(../sign-up-form/fonts/Norse-Bold.otf);
}


body {
    margin: 0; 
    padding: 0;
    font-family: sans-serif;
}

.main {
    display: flex;
    width: 100vw; 
    height: 100vh;
}

.left {
    background-image: url(./photo/halie-west-25xggax4bSA-unsplash.jpg);
    width: 35vw;
    background-repeat: no-repeat; 
    background-size: cover; 
    color: white;
    font-family: Norse-Bold, sans-serif; 
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    font-family: sans-serif;
    color: #fafafa;
}

p > a {
    color: #fafafa;
    font-size: small;
}


img {
    height: 100px;
    width: 100px;
}

.image-section {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 50px;
}

.right {
    display: flex;
    flex-direction: column;
    width: 65vw;
    /* background-color: #fafafa; */
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fafafa;
    /* margin-left: 5%;
    margin-bottom: 5%; */
}


.first > h3 {
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 5%;
}

.first, 
.second {
    height: 35vh;
}

.third {
    height: 30vh;
    background-color: #fafafa;
    padding-left: 5%;
    padding-top: 5%;
}

.second {
    display: flex;
    background-color: white;
    margin-left: 5%;
}

form {
    display: flex;
    flex-direction: column;
}

.form-main-div {
    display: flex;
}

.form-divs {
    display: flex;
    flex-direction: column;
}

.form-divs-right {
    margin-top: 68px;
}

.form-divs:nth-child(2) {
    margin-left: 70px;
}

input {
    margin-bottom: 20px;
    width: 200px;
    border: 1px solid #e5e7eb;
    height: 25px;
    border-radius: 3px;
}

label {
    font-size: 10px;
    color: #3b3b3c;
}

input:focus {
    border: 1px solid blue; 
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}

input:invalid {
    border-color: red;
}

input[type='password'] {
    margin-bottom: 0;
}

#error {
    color: red;
    font-size: small;
    margin: 0;
}

button {
    background: #596D48;
    color: #fafafa;
    padding: 15px 55px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    box-shadow: 5px 5px #e5e7eb;
}

#login {
    text-decoration: none;
    color: #596D48;
}




