@font-face {
    font-family: Norse-Bold;
    src: url(../sign-up-form/fonts/Norse-Bold.otf);
}


body {
    margin: 0; 
    padding: 0;
}

.main {
    display: flex;
    width: 100vw; 
    height: 100vh;
}

.left {
    background-image: url(./photo/halie-west-25xggax4bSA-unsplash.jpg);
    width: 35vw;
    background-repeat: no-repeat; 
    background-size: cover; 
    color: white;
    font-family: Norse-Bold, sans-serif; /* Set the left side font to our downloaded font, sans-serif font for back up if our main font
    does not work*/
}

.right {
    display: flex;
    flex-direction: column;
    width: 65vw;
    background-color: #fafafa;
}

.first {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* margin-left: 5%;
    margin-bottom: 5%; 
    
    If we have multiple elements inside a container, then manipulating the margin of the whole container will adjust all
    the elements accordingly*/
}

.first,
.second,
.third {
    border: 1px solid blue;
}

.first > h2 {
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 5%;

    /* However, since I have only one element in the container, I believe that only manipulating the single element with this method
    is fine for the most part */
}

.second,
.third {
    height: 30vh;
}


